oknbhigvytgiloli'[

/build

# Built application files
*.apk
*.ap_

# IntelliJklnpijbnijnijio['4
[;.lp
mhucr65d856e68749**
*.iml

# Google Services (e.g. APIs or Firebase)
google-services.json
l-plpokjiup9hj-0ik]=olp
